::ng-deep .menu-level1{
  margin-top: 15px;
  background: linear-gradient(#7be640, #cbe522);
}



.login-button{
  position: fixed;
  right: 95px;
  top: 15px;
  text-align: center;
  color: #1200ff;
  background: rgb(45, 255, 28);
  line-height: 50px;
  z-index: 999;
}

.coder-fab {
  width: 50px;
  height: 50px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;

    .mat-icon {
      font-size: 12px;
      padding-right: 4px;
      padding-top: 4px;
    }
  }
}
