<header class="java-main d-flex align-items-center">

    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1" data-aos="fade-right" data-aos-delay="400"  data-aos-offset="300">
            “Live as if you were to die tomorrow. Learn as if you were to live forever” – Mahatma Gandhi
        </h1>
        <h3 class="mb-5"><em>Here root of education is also SWEET</em></h3>
        <div data-aos="fade-up" data-aos-once="true">
            the content
        </div>
        <div data-aos="fade-down">I am testing all these</div>
        <div data-aos="fade-up">Fade Up</div>
    </div>
</header>
