<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Why Choose CODER?</h3>
                    <p>
                        Mordern infrastructure with best guidance.
                        A natural ability to do or learn something well and easily.
                        An ability to make the material being taught stimulating and interesting.
                        A facility for engaging with students at their level of understanding.
                    </p>
                    <div class="text-center">
                        <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-tv"></i>
                                <h4 style="padding-top: 50px;">Learn Computer</h4>
                                <p>
                                    Identify what you need to learn.
                                    Start with the basics—and ensure you know how to use a computer.
                                    Familiarize yourself with an understanding of how computers (and the Internet) work.
                                    Take a computer course.
                                    Apply the knowledge and get hands-on practice.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-person-fill"></i>
                                <h4 style="padding-top: 50px;">Get Best Guidance</h4>
                                <p>
                                    Visualization, Bring the all academic concepts to life with visual and practical learning experiences, helping your students to understand how their schooling applies in the real-world.
                                    Cooperative learning.
                                    Inquiry-based instruction.
                                    Differentiation.
                                    Technology in the classroom.
                                    Professional development.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bi bi-trophy"></i>
                                <h4 style="padding-top: 50px;">Achievement</h4>
                                <p>
                                    Done your courses successfully with effort, skill, or courage.
                                    Re-organized something to make it work better.
                                    Received certificates of your achievement.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->
