<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
    <div class="container pt-2" data-aos="fade-up">
        <div class="row" >
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4> Mr. Sukanta Hui</h4>
                        <span>Mentor</span>
                        <!-- <p>
                          Web Developper, Efficient in differrent programming languages
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/sukantahui"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/sukantahui"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/sukantahui/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up-right" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Mrs.Tanushree Hui</h4>
                        <span>Mentor</span>
                        <!-- <p>

                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/tanusreehui"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/tanusree.hui"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/tanusreehui/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear" data-aos-delay="1000">
                <div class="member">
                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Miss. Sreeparna Das</h4>
                        <span>Mentor</span>
                        <!-- <p>
                          Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p> -->
                        <div class="social">
                            <a target="_blank" href="https://twitter.com/sreeparna94"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100006890506105"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/sreeparna83/"><i class="bi bi-instagram"></i></a>
                            <!-- <a target="_blank" href=""><i class="bi bi-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Trainers Section -->
