<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <!-- <i class="ri-store-line" style="color: #ffbb2c;"></i> -->
                    <img src="assets/img/html.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">HTML</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <!-- <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> -->
                    <img src="assets/img/c.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">C-Language</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <!-- <i class="ri-calendar-todo-line" style="color: #e80368;"></i> -->
                    <img src="assets/img/cpp.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3  style="padding-left: 20px;"><a href="">C++ Language</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <!-- <i class="ri-paint-brush-line" style="color: #e361ff;"></i> -->
                    <img src="assets/img/java.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">JAVA</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-database-2-line" style="color: #47aeff;"></i> -->
                    <img src="assets/img/python.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">PYTHON</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-gradienter-line" style="color: #ffa76e;"></i> -->
                    <img src="assets/img/js.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">Java Script</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-file-list-3-line" style="color: #11dbcf;"></i> -->
                    <img src="assets/img/sql.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">SQL</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-price-tag-2-line" style="color: #4233ff;"></i> -->
                    <img src="assets/img/vsc.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">Visual Studio Code</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-anchor-line" style="color: #b2904f;"></i> -->
                    <img src="assets/img/php.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">php storm</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-disc-line" style="color: #b20969;"></i> -->
                    <img src="assets/img/webstorm.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3  style="padding-left: 20px;"><a href="">web storm</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-base-station-line" style="color: #ff5828;"></i> -->
                    <img src="assets/img/toad.jpg" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">Toad for Mysql</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <!-- <i class="ri-fingerprint-line" style="color: #29cc61;"></i> -->
                    <img src="assets/img/adobe.png" width="50px" style="border-radius: 30px;" alt="">
                    <h3 style="padding-left: 20px;"><a href="">Adobe Photoshop</a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->
